.schedules-history {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    left: -100vw;
    transition: 300ms;
    overflow-y: auto;
    z-index: 2;
}

#schedules-history-active {
    left: 0;
}

.schedules-history::-webkit-scrollbar {
    display: none;
}

.schedules-history .loading-holder {
    position: fixed;
}

.schedules-history .info {
    z-index: 4;
}

.schedules-history .x-button {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.schedules-history .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.schedules-history h2 {
    height: 75px;
    width: 100%;
    color: var(--red);
    font-size: 28px;
    text-align: center;
    font-family: Roboto-Bold;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1;
}

.schedules-history .list {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 0;
    overflow-y: visible;
}

.schedules-history .list strong {
    color: grey;
    font-size: 18px;
    font-family: Roboto-Thin;
    font-style: italic;
}

.schedules-history .list .event {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.schedules-history .list .event img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.schedules-history .list .event .event-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.schedules-history .list .event .event-info strong {
    color: var(--red);
    font-size: 18px;
    font-family: Roboto-Bold;
    font-weight: normal;
    font-style: normal;
}

.schedules-history .list .event .event-info p {
    color: white;
    font-size: 14px;
    font-family: Roboto-Light;
    margin: 0;
}

.schedules-history .list .event .event-info p span {
    font-family: Roboto-Light;
    font-style: italic;
    padding: 0;
}

.schedules-history .list .event .event-info span {
    color: var(--red);
    font-size: 14px;
    font-family: Roboto-Medium;
    padding: 5px 0;
}