.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo .logo-first {
    color: white;
    font-size: 30px;
    font-family: Roboto-Bold;
}

.logo .logo-second {
    color: #DC143C;
    font-size: 30px;
    font-family: Roboto-Bold;
}
