.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo span {
    font-size: 40px;
    font-family: Roboto-Bold;
}

.logo .first {
    color: white;
}

.logo .second {
    color: var(--red);
}