.doses-timeslot {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    left: -100vw;
    transition: 300ms;
    overflow-y: hidden;
    z-index: 3;
}

#doses-timeslot-active {
    left: 0;
}

.doses-timeslot .x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.doses-timeslot .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.doses-timeslot h2 {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Roboto-Light;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding: 20px;
}

.doses-timeslot h2 span {
    color: var(--red);
    font-family: Roboto-Bold;
}

.doses-timeslot .list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.doses-timeslot .list strong {
    color: grey;
    font-size: 18px;
    font-family: Roboto-Thin;
    font-style: italic;
}

.doses-timeslot .list .dose {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 20px;
}

.doses-timeslot .list .dose img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.doses-timeslot .list .dose-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.doses-timeslot .list .dose-info strong {
    color: white;
    font-size: 18px;
    font-family: Roboto-Regular;
    font-style: normal;
}

.doses-timeslot .list .dose-info .dose-info-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.doses-timeslot .list .dose-info .dose-info-time p {
    color: white;
    font-size: 14px;
    font-family: Roboto-Light;
    margin: 0;
}

.doses-timeslot .list .dose-info .dose-info-time p:nth-child(2) {
    color: var(--red);
    font-family: Roboto-Bold;
    text-transform: uppercase;
}