.edit {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: -100vw;
    transition: 300ms;
    overflow-y: hidden;
    z-index: 3;
}

#edit-active {
    left: 0;
}

.edit .loading-holder {
    position: fixed;
    z-index: 2;
}

.edit .x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.edit .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.edit h2 {
    height: 75px;
    width: 100%;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: Roboto-Light;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding: 20px;
}

.edit h2 span {
    color: var(--red);
    font-family: Roboto-Bold;
    text-transform: capitalize;
}

.edit form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
}

.edit form .form-color {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.edit form .form-color .background {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 50%;
}

.edit form .form-color .background img {
    height: 55px;
    width: 55px;
    object-fit: contain;
}

.edit form .form-color input {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}

.edit form fieldset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.edit form .password-input {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.edit form fieldset input,
.edit form fieldset textarea,
.edit form fieldset select {
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: Roboto-Light;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding: 10px 15px;
    transition: 300ms;
}

.edit form .time-inputs,
.edit form .medication-inputs {
    flex-direction: column;
    gap: 10px;
}

.edit form .time-inputs .time-inputs-first,
.edit form .time-inputs .time-inputs-second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.edit form .time-inputs input {
    text-align: center;
}

.edit form .time-inputs .time-inputs-first span {
    color: white;
    font-size: 20px;
}

.edit form .time-inputs .time-inputs-second input:nth-child(1),
.edit form .time-inputs .time-inputs-second input:nth-child(2) {
    width: 50%;
}

.edit form fieldset textarea {
    width: 100%;
    resize: none;
}

.edit form fieldset input:focus,
.edit form fieldset textarea:focus {
    border-bottom: 1px solid white;
}

.edit form fieldset input::placeholder,
.edit form fieldset textarea::placeholder {
    font-family: Roboto-Light;
}

.edit .edit-button {
    color: white;
    font-size: 15px;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 30px;
}