.account-panel {
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    position: relative;
    transition: 300ms;
}

#account-panel-active {
    opacity: 1;
    left: 0;
}

.account-login {
    left: 15px;
}

.account-register {
    left: -15px;
}

.account-panel fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.account-panel .account-type {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.account-panel .account-type p {
    color: white;
    font-size: 17px;
    font-family: Roboto-Light;
    margin: 0;
}

.account-panel .account-type .account-type-checkboxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.account-panel fieldset input {
    color: white;
    font-size: 18px;
    font-family: Roboto-Light;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding: 10px 15px;
}

.account-panel fieldset input:focus {
    border-bottom: 1px solid white;
}

.account-panel fieldset input::placeholder {
    font-family: Roboto-Light;
}