.account-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.account-panel fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.account-panel fieldset input {
    color: white;
    font-size: 18px;
    font-family: Roboto-Light;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding: 10px 15px;
}

.account-panel fieldset input:focus {
    border-bottom: 1px solid white;
}

.account-panel fieldset input::placeholder {
    font-family: Roboto-Light;
}