.doses-dose-holder {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    opacity: 0;
    transition: 300ms;
    overflow-y: hidden;
    z-index: 3;
}

#doses-dose-holder-active {
    opacity: 1;
}

.doses-dose {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: relative;
    top: 50%;
    transition: 300ms;
}

#doses-dose-active {
    top: 0;
}

.doses-dose .loading-holder {
    height: 50%;
}

.doses-dose .x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.doses-dose .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.doses-dose h2 {
    height: 75px;
    width: 100%;
    color: var(--red);
    font-size: 28px;
    text-align: center;
    font-family: Roboto-Bold;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    padding: 20px;
}

.doses-dose .medication-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.doses-dose .medication-holder h3 {
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: Roboto-Regular;
    padding-left: 20px;
}

.doses .medication-holder .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.doses .medication-holder .list .medication {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.doses .medication-holder .list .medication img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.doses .medication-holder .list .medication .medication-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.doses .medication-holder .list .medication .medication-info strong {
    color: white;
    font-size: 18px;
    font-family: Roboto-Regular;
    font-style: normal;
}

.doses .medication-holder .list .medication .medication-info span {
    color: var(--red);
    font-size: 14px;
    font-family: Roboto-Light;
    font-style: italic;
}

.doses .medication-holder .list .medication .medication-info p {
    color: white;
    font-size: 15px;
    font-family: Roboto-Regular;
    margin: 0;
}

.doses .medication-holder .list .medication .medication-info p span {
    font-size: 14px;
    font-style: normal;
}

.doses .medication-holder button {
    color: var(--red);
    font-size: 20px;
    font-family: Roboto-Bold;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: sticky;
    bottom: 0;
    margin-top: 30px;
    padding: 5px 10px;
}