.schedules {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: hidden;
}

.schedules h2 {
    color: white;
    font-size: 28px;
    font-family: Roboto-Light;
}

.schedules h2 span {
    color: var(--red);
    font-family: Roboto-Bold;
}

.schedules .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.schedules .list strong {
    color: grey;
    font-size: 18px;
    font-family: Roboto-Thin;
    font-style: italic;
}

.schedules .list .schedule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border: none;
}

.schedules .list .schedule-button .background {
    height: 100px;
    width: 100px;
    background-color: var(--red);
    border-radius: 50%;
}

.schedules .list .schedule-button p {
    color: white;
    font-size: 24px;
    font-family: Roboto-Regular;
    margin: 0;
}

.schedules .menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid white;
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.schedules .menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.schedules .menu button:nth-child(3) {
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px;
}

.schedules .menu button img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.schedules .menu button:nth-child(3) img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}