.schedules {
    height: calc(100vh);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
}

.schedules h2 {
    width: 100%;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: Roboto-Light;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 1;
}

.schedules h2 span {
    color: var(--red);
    font-family: Roboto-Bold;
}

.schedules .loading-holder {
    position: static;
    z-index: 0;
    padding-top: 100px;
}

.schedules .list {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    overflow-y: auto;
}

.schedules .list::-webkit-scrollbar {
    display: none;
}

.schedules .list strong {
    color: grey;
    font-size: 18px;
    font-family: Roboto-Thin;
    font-style: italic;
}

.schedules .list .schedule-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border: none;
}

.schedules .list .schedule-button .background {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 50%;
}

.schedules .list .schedule-button .background img {
    height: 55px;
    width: 55px;
    object-fit: contain;
}

.schedules .list .schedule-button p {
    color: white;
    font-size: 20px;
    font-family: Roboto-Regular;
    margin: 0;
}

.schedules .menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
    border-top: 1px solid white;
    position: sticky;
    bottom: 0;
    padding: 15px;
}

.schedules .menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.schedules .menu button:nth-child(3) {
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px;
}

.schedules .menu button img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.schedules .menu button:nth-child(3) img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}