.schedules-inventory-medication {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    left: -100vw;
    padding: 0 30px;
    padding-top: 75px;
    transition: 300ms;
    overflow: hidden;
    z-index: 3;
}

#schedules-inventory-medication-active {
    left: 0;
}

.schedules-inventory-medication .x-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
}

.schedules-inventory-medication .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.schedules-inventory-medication .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.schedules-inventory-medication .title img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.schedules-inventory-medication .title h2 {
    height: auto;
    width: auto;
    color: var(--red);
    font-size: 40px;
    font-family: Roboto-Regular;
    border: none;
    position: static;
    padding: 0;
}

.schedules-inventory-medication .medication-info-holder {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-left: 3px solid white;
    margin-left: 35px;
    padding: 15px;
}

.schedules-inventory-medication .medication-info-holder p {
    color: white;
    font-size: 16px;
    font-family: Roboto-Regular;
}

.schedules-inventory-medication .medication-info-holder p span {
    color: var(--red);
    font-style: italic;
}

.schedules-inventory-medication .medication-info-holder .general-info {
    border-left: none;
    margin-left: 0;
    padding: 0;
    padding-top: 20px;
}

.schedules-inventory-medication .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: none;
    position: static;
    padding: 15px;
}

.schedules-inventory-medication .menu button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent;
    border: none;
}

.schedules-inventory-medication .menu button img {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.schedules-inventory-medication .menu button span {
    color: white;
    font-size: 20px;
    font-family: Roboto-Light;
}

.schedules-inventory-medication .menu button:nth-child(2) span {
    color: var(--red);
}