.schedules-inventory-create {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    left: -100vw;
    transition: 300ms;
    overflow-y: hidden;
    z-index: 3;
}

#schedules-inventory-create-active {
    left: 0;
}

.schedules-inventory-create .loading-holder {
    position: fixed;
    padding-top: 75px;
    z-index: 1;
}

.schedules-inventory-create .x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.schedules-inventory-create .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.schedules-inventory-create h2 {
    color: white;
    font-size: 28px;
    font-family: Roboto-Light;
}

.schedules-inventory-create h2 span {
    color: var(--red);
    font-family: Roboto-Bold;
}

.schedules-inventory-create form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.schedules-inventory-create form fieldset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: relative;
}

.schedules-inventory-create form fieldset input,
.schedules-inventory-create form fieldset textarea,
.schedules-inventory-create form fieldset select {
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: Roboto-Light;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    padding: 10px 15px;
    transition: 300ms;
}

.schedules-inventory-create form fieldset textarea {
    width: 100%;
    resize: none;
}

.schedules-inventory-create form fieldset input:focus,
.schedules-inventory-create form fieldset textarea:focus {
    border-bottom: 1px solid white;
}

.schedules-inventory-create form fieldset input::placeholder,
.schedules-inventory-create form fieldset textarea::placeholder {
    font-family: Roboto-Light;
}

.schedules-inventory-create .add-button {
    color: white;
    font-size: 15px;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 30px;
}