.schedules-inventory {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    position: fixed;
    left: -100vw;
    transition: 300ms;
    overflow-y: hidden;
    z-index: 2;
}

#schedules-inventory-active {
    left: 0;
}

.schedules-inventory .x-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
}

.schedules-inventory .x-button img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.schedules-inventory h2 {
    height: 75px;
    width: 100%;
    color: var(--red);
    font-size: 28px;
    text-align: center;
    font-family: Roboto-Bold;
    background-color: var(--background);
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 1;
}

.schedules-inventory .list {
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.schedules-inventory .list strong {
    color: grey;
    font-size: 18px;
    font-family: Roboto-Thin;
    font-style: italic;
}

.schedules-inventory .create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    padding: 10px;
}

.schedules-inventory .create-button img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}