.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: grey;
    position: fixed;
    bottom: -100px;
    transition: 300ms;
    z-index: 1;
}

.info .line {
    height: 3px;
    width: 100%;
    align-self: flex-start;
    background-color: white;
    position: absolute;
    top: 0;
}

.info .content-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.info .content-holder .button-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.info .content-holder .button-holder button {
    background-color: transparent;
    border: none;
    padding-right: 10px;
}

.info .content-holder .button-holder button img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.info .content-holder p {
    color: white;
    font-size: 15px;
    font-family: Roboto-Regular;
    text-align: center;
    margin: 0;
    padding: 0 20px;
}

.info-error {
    background-color: var(--red);
}

.info-success {
    background-color: var(--green);
}

#info-active {
    bottom: 0;
}